@import './variables'



.bodymedium
  font-family: $font-family-inter
  font-size: $font-size-xl
  font-style: normal
  font-weight: 500
  letter-spacing: 0

.hyundaisansheadoffice-regular-normal-port-gore-21px
  color: $text-color-tabel
  font-family: $font-family-hyundai_sans_head_office-regular
  font-size: $font-size-xl
  font-style: normal
  font-weight: 400

.hyundaisansheadoffice-bold-midnight-blue-24px
  color: $primary-blue
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xl
  // line-heigth: 1
  font-style: normal
  font-weight: 700

.hyundaisansheadoffice-bold-white-27px
  color: $white
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xxxl
  font-style: normal
  font-weight: 700

.hyundaisansheadoffice-bold-white-41px
  color: $white
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xxxl
  font-style: normal
  font-weight: 700

.hyundaisansheadoffice-bold-midnight-blue-48px
  color: $primary-blue
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xxxxl
  font-style: normal
  font-weight: 700

.hyundaisansheadoffice-bold-port-gore-41px
  color: $text-color-tabel
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xxxl
  font-style: normal
  font-weight: 700

.hyundaisansheadoffice-bold-port-gore-32px
  color: $text-color-tabel
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xxl
  font-style: normal
  font-weight: 700

.hyundaisansheadoffice-bold-midnight-blue-32px
  color: $primary-blue
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xxl
  font-style: normal
  font-weight: 700

.hyundaisansheadoffice-regular-normal-silver-16px
  color: $text-grey
  font-family: $font-family-hyundai_sans_head_office-regular
  font-size: $font-size-m
  font-style: normal
  font-weight: 400



.hyundaisansheadoffice-regular-normal-black-16px
  color: $black
  font-family: $font-family-hyundai_sans_head_office-regular
  font-size: $font-size-l
  font-style: normal
  font-weight: 400

// .hyundaisansheadoffice-bold-midnight-blue-32px
//   color: $primary-blue
//   font-family: $font-family-hyundai_sans_head_office-bold
//   font-size: $font-size-l
//   font-style: normal
//   font-weight: 700


// deze iniedergeval voor het nieuw icoon
.hyundaisansheadoffice-bold-sonic-silver-11-4px
  color: $dark-grey
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-s
  font-style: normal
  font-weight: 700

.hyundaisansheadoffice-bold-white-32px
  color: $white
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xxl
  font-style: normal
  font-weight: 700



// hieronder is voor mobiel
  .hyundaisansheadoffice-bold-port-gore-23-8px
  color: $text-color-tabel
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xl
  font-style: normal
  font-weight: 700

 .hyundaisansheadoffice-bold-white-23-8px
  color: $white
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-xl
  font-style: normal
  font-weight: 700



  // hieronder is voor mobiel en desktop
  .hyundaisansheadoffice-bold-midnight-blue-18px
  color: $primary-blue
  font-family: $font-family-hyundai_sans_head_office-bold
  font-size: $font-size-l
  font-style: normal
  font-weight: 700



@media screen and (max-width: 767px)


  .bodymedium
    font-family: $font-family-inter
    font-size: 1.5rem
    font-style: normal
    font-weight: 500
    letter-spacing: 0
    line-height: 1.2

  .hyundaisansheadoffice-regular-normal-port-gore-21px
    color: $text-color-tabel
    font-family: $font-family-hyundai_sans_head_office-regular
    font-size: 1.5rem
    font-style: normal
    font-weight: 400
    line-height: 1.2

  .hyundaisansheadoffice-bold-midnight-blue-24px
    color: $primary-blue
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 1.5rem
    font-style: normal
    font-weight: 700
    line-height: 1.2

  .hyundaisansheadoffice-bold-white-27px
    color: $white
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 2.5625rem
    font-style: normal
    font-weight: 700
    line-height: 1.2

  .hyundaisansheadoffice-bold-white-41px
    color: $white
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 3rem
    font-style: normal
    font-weight: 700
    line-height: 1.2

  .hyundaisansheadoffice-bold-midnight-blue-48px
    color: $primary-blue
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 3rem
    font-style: normal
    font-weight: 700
    line-height: 1.2

  
  .hyundaisansheadoffice-bold-port-gore-41px
    color: $text-color-tabel
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 2,5625rem
    font-style: normal
    font-weight: 700
    line-height: 1.2

  .hyundaisansheadoffice-bold-port-gore-32px
    color: $text-color-tabel
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 2rem
    font-style: normal
    font-weight: 700
    line-height: 1.2

  .hyundaisansheadoffice-bold-midnight-blue-32px
    color: $primary-blue
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 2rem
    font-style: normal
    font-weight: 700
    line-height: 1.2

  .hyundaisansheadoffice-regular-normal-silver-16px
    color: $text-grey
    font-family: $font-family-hyundai_sans_head_office-regular
    font-size: 1rem
    font-style: normal
    font-weight: 400
    line-height: 1.2

  .hyundaisansheadoffice-regular-normal-black-16px
    color: $black
    font-family: $font-family-hyundai_sans_head_office-regular
    font-size: 1.3rem
    font-style: normal
    font-weight: 400
    line-height: 1.5

  .hyundaisansheadoffice-bold-sonic-silver-11-4px
    color: $dark-grey
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 0.75rem
    font-style: normal
    font-weight: 700
    line-height: 1.2

  .hyundaisansheadoffice-bold-white-32px
    color: $white
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 2rem
    font-style: normal
    font-weight: 700
    line-height: 1.2


  .hyundaisansheadoffice-bold-port-gore-23-8px
    color: $text-color-tabel
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 1.5rem
    font-style: normal
    font-weight: 700
    line-height: 1.2


  .hyundaisansheadoffice-bold-white-23-8px
    color: $white
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 1.5rem
    font-style: normal
    font-weight: 700
    line-height: 1.2


  .hyundaisansheadoffice-bold-midnight-blue-18px
    color: $primary-blue
    font-family: $font-family-hyundai_sans_head_office-bold
    font-size: 1.5rem
    font-style: normal
    font-weight: 700
    line-height: 1.2




