$black: #000000
$dark-grey: #737373
$light-blue: #f2f8ff
$light-grey: #f0f0f0
$primary-blue: #002e6b
$text-color-tabel: #231e41
$text-grey: #c1c1c1
$white: #ffffff





$font-size-s: 0.546875vw // originele waarde was 0.75rem
$font-size-m: 0.78125vw // originele waarde was 1rem
$font-size-l: 1.02539vw // originele waarde was 1.3125rem
$font-size-xl: 1.171875vw // originele waarde was 1.5rem
$font-size-xxl: 1.5625vw // originele waarde was 2rem
$font-size-xxxl: 2.01171875vw // originele waarde was 2.5625rem
$font-size-xxxxl: 2.34375vw // originele waarde was 3rem













$font-family-hyundai_sans_head_office-bold: 'Hyundai Sans Head Office-Bold', Helvetica
$font-family-hyundai_sans_head_office-medium: 'Hyundai Sans Head Office-Medium', Helvetica
$font-family-hyundai_sans_head_office-regular: 'Hyundai Sans Head Office-Regular', Helvetica
$font-family-inter: "Inter", Helvetica